@import "../colors.scss";

.header {
  background-color: $primary-color;
  color: $primary-text-color;
  padding: 10px 0;
}
.nav {
  background-color: rgba($color: white, $alpha:0.05);
  border-radius: 20px;
}
.nav-list {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.nav-item {
  margin: 0 10px;
}

.nav-item a {
  text-decoration: none;
  color: $primary-text-color;
  font-weight: bold;
}

.nav-item a:hover {
  text-decoration: underline;
}
