$primary-color: rgb(6, 32, 59);
$secondary-color: rgb(15, 65, 126);
$bg-items-color: rgb(154, 191, 173);
$primary-text-color: rgb(175, 115, 115);
$secondary-text-color: rgb(154, 191, 173);
$accent-color: #ff5722;
$warning-color: yellow;
